<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>MATHalino</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/white.png') }}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="home">
        <h1>Welcome to MATHalino</h1>
        <p>A math quiz platform to test your skills!</p>
        <p>
            Are you a student?
            <a href="{{ url_for('student_register') }}">Register</a> or 
            <a href="{{ url_for('student_login') }}">Login</a> to start your quiz journey!
        </p>
        <p>
            Are you a teacher? 
            <a href="{{ url_for('teacher_login') }}"> Login</a> or
            <a href="{{ url_for('teacher_register') }}">Register</a> to manage your quizzes and students.
        </p>
    </div>
</body>
</html>
