<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Teacher Login</title>
</head>
<body>
    <div class="login">
        <h1>Teacher Login</h1>
        <form action="/teacher_login" method="POST">
            <label for="fullname">Fullname:</label>
            <input type="text" id="fullname" name="fullname" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type ="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('teacher_register') }}">Register here</a></p>
        <p><a href="{{ url_for('index') }}">Back to Index</a></p>
    </div>
</body>
</html>